<template>
    <article>
      <img v-if="article.img" class="background" :src="require('~/assets/' + article.img)" :alt="article.alt" />
      <iframe
        v-if="article.video"
        :src="article.video"
        class="video--wrapper"
        frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
      <section class="content--wrapper gallery" v-else-if="article.gallery">
        <img v-for="(image, key) in article.gallery" :key="key" :src="require('~/assets/2/prostata/' + image.filename)" :alt="image.alt" />
      </section>
      <section class="content--wrapper video-gallery" v-else-if="article.videogallery">
        <video v-for="(image, key) in article.videogallery" :key="key" class="e-o-baile" autoplay loop muted onmouseover="this.muted = false; this.style.opacity = 1;" onmouseout="this.muted = true; this.style.opacity = 0.5;">
          <source :src="require('~/assets/2/video/' + image)" type="video/mp4">
        </video>
      </section>
      <section class="content--wrapper pdf" v-else-if="article.pdf">
        <object :data="require('~/assets/2/pdf/' + article.pdf)" type="application/pdf" width="100%" height="100%">
          alt : <a :href="require('~/assets/2/pdf/' + article.pdf)">As Ânforas</a>
        </object>
      </section>
      <section class="content--wrapper" v-else>
        <header>
          <div :class="['title--wrapper', article.alignment]">
            <h1 class="title">{{ article.title }}<vue-tooltip v-if="article.note" :text="article.note" index="1"></vue-tooltip></h1>
            <h2 class="subtitle" v-show="article.subtitle">{{ article.subtitle }}</h2>
            <h3 class="author"><span class="box">{{ article.author }}</span></h3>
            <h4 class="description" v-show="article.description"><span class="box">{{ article.description }}</span></h4>
          </div>
        </header>
        <div :class="['text--container', article.alignment]">
          <nuxt-content :document="article" />
        </div>
      </section>
    </article>
</template>

<script>
  export default {
    async asyncData({ $content, params }) {
      const article = await $content('2', params.slug).fetch()
      const articles = await $content('2').sortBy('order').fetch()
      return { article, articles }
    },
    mounted() {
      this.$store.commit('updateMenu', this.articles)
    }
  }
</script>

<style scoped>
@font-face {
  font-family: 'Roboto';
  src: url('~static/fonts/Roboto-Black.eot'); /* IE9 Compat Modes */
  src: url('~static/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~static/fonts/Roboto-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('~static/fonts/Roboto-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('~static/fonts/Roboto-Black.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Old Standard TT';
  src: url('~static/fonts/OldStandardTT-Italic.eot'); /* IE9 Compat Modes */
  src: url('~static/fonts/OldStandardTT-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~static/fonts/OldStandardTT-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('~static/fonts/OldStandardTT-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('~static/fonts/OldStandardTT-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

article {
  width: 100%;
}

.title--wrapper {
  margin: 0 5vw;
  min-width: 55vw;
  max-width: 100vw;
}
  .right {align-self: flex-end;}
  .left {align-self: flex-start;}


.title, .subtitle, .box {
  background-color: #000;
  padding: 20px;
}
  .title, .subtitle {text-align: center;}
    .right .title, .right .subtitle {text-align: left;}
    .left .title, .left .subtitle, .left .author {text-align: right;}
  .subtitle {padding-top: 0;}
  .author, .description {
    margin-top: 10px;
  }
  .title {
    font-family:
      'Roboto',
      'Helvetica Neue',
      Arial,
      sans-serif;
    text-transform: uppercase;
  }
  .subtitle, .author, .description {
    font-family: 'Old Standard TT', serif;
    font-style: italic;
  }

  .gallery img {
    max-width: 100vw;
  }

  .video-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  video {width: 100%;}

  .pdf {height: 100%; padding-bottom: 0;}

</style>