<template>
    <main class="page-content" aria-label="Content">
      <img class="background" :src="require('~/assets/2/frontpage.jpg')" alt="Imagem de fundo mosrando uma cupação de moradia: a ocupação Mauá" />
      <div class="content--wrapper">
        <header>
          <img class="svg" :src="require('~/assets/logo-black.svg')" alt="AGRESTE" />
          <h3><small>vol. </small>2<small><br />{{ $store.state.editions[$store.state.editions.length - 2].year }}</small></h3>
        </header>
        <div class="container">
          <section v-for="article in articles" :key="article.path">
            <a v-if="article.order === 0" href="http://moburb.org" target="_blank">
              <h1>Mobiliário Urbano</h1>
              <h2>AGRESTE</h2>
            </a>
            <NuxtLink
              v-else
              :to="article.path">
              <h1>{{article.title}}</h1>
              <h2>{{article.author}}</h2>
            </NuxtLink>
          </section>
        </div>
      </div>
    </main>
</template>

<script>
    export default {
      async asyncData({ $content, params }) {
        const articles = await $content('2', params.slug).sortBy('order').fetch()

        return { articles }
      }
    }
</script>

<style scoped>
@font-face {
  font-family: 'Roboto Condensed';
  src: url('~static/fonts/RobotoCondensed-Bold.eot'); /* IE9 Compat Modes */
  src: url('~static/fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~static/fonts/RobotoCondensed-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('~static/fonts/RobotoCondensed-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('~static/fonts/RobotoCondensed-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Old Standard TT';
  src: url('~static/fonts/OldStandardTT-Italic.eot'); /* IE9 Compat Modes */
  src: url('~static/fonts/OldStandardTT-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~static/fonts/OldStandardTT-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('~static/fonts/OldStandardTT-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('~static/fonts/OldStandardTT-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

h1, h3 {
  font-size: 1.1rem;
  font-family: 'Roboto Condensed', 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: .8rem;
  font-family: 'Old Standard TT', serif;
  font-style: italic;
  margin: 0 auto;
}

h1, h2 {
  line-height: 1.5em;
  color: #fff;
  background: #000;
  padding-left: 30px;
  padding-right: 15px;
  float: right;
  clear: both;
  box-decoration-break: clone;
}

h3 {
  position: absolute;
  top: 60px;
  right: 34vw;
  text-align: right;
}

/*  SECTIONS  */

.page-content {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

header {
  text-align: center;
  padding-bottom: 50px;
  width: 30vw;
  margin: auto;
}

header h1 {
  font-size: 1.3em;
  clear: none;
  margin-left: 100px;
  float: none;
}

section {
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: right;
}

section:nth-child(even) {
  align-self: flex-end;
  text-align: left;
}

section a:hover{
  text-decoration: none;
}

section:nth-child(even) a h1, section:nth-child(even) a h2 {
  padding-right: 30px;
  padding-left: 15px;
  float: left;
}

section a:hover h1, section a:hover h2 {
  background-color: #666;
  color: #fff;
}

.content--wrapper {
  padding-bottom: 0;
}

@media (max-width: 992px) {

  section {
    float: none;
    text-align: center;
    margin-bottom: 1%;
    width: 100%;
    overflow: hidden;
  }
  section:nth-child(even) {
    float: none;
    text-align: center;
  }
  h1, h2 {
    width: 85%;
    text-align: center;
  }
  h3 {
    position: absolute;
    right: 20px;
  }
  header {
    width: 50vw;
  }
}
</style>