<template>
    <div>
        <img class="background" :src="require('~/assets/1/bgs/DOO_6789.jpg')" alt="Imagem do Logo da revista AGERSTE pixado na cidade" />
        <section class="content--wrapper">
          <img
            class="svg aboutLogo"
            alt="Logotipo onde a palavra AGRESTE se desenha com linhas construídas por pedaços de fita-isolante"
            src="~/assets/logo.svg"
          />

          <p>Não é mais uma </p>
                    <p><i>revista marginal</i></p>

          <p>É</p>

          <p>Pôr</p>

          <p>Em</p>

          <p>Cena</p>

          <p>Precarizadxs, Terroristas, Extrañxs, Messias, Negradas, Ritmos, Paisagens, Bailes, Lembranças, Escombros</p>

          <p>Agrupamento de</p>
          <p>Estudos</p>
          <p>Excêntricos</p>

        <hr />
        <u>Corpo editorial:</u>

          <p>Bruno Lottelli</p>
          <p>Edgar Zanella</p>
          <p>Eduardo Liron</p>
          <p>Mirrah Iañez</p>
      <hr />
      <u>Arte:</u>
          <p>vol. 2 / 2017 – Eduardo Liron</p>
      <hr />
      <u>Projeto Gráfico e desenvolvimento:</u>
          <p>Eduardo Liron</p>
      <hr />
      <u>Contato:</u>
          <p>Coletivo Agreste</p>
          <p>São Paulo / SP</p>
          <p><a href="mailto:revistaagreste@gmail.com">revistaagreste@gmail.com</a></p>
      </section>
    </div>
</template>

<style scoped>
    .aboutLogo {
        width: 300px;
        margin-bottom: 30px;
    }
    .content--wrapper {
      padding: 10vh 10vw 100vh 10vw;
      font-size: 1.3rem;
    }
    a, p, u {color: #fff;}
    a:hover {background-color: #ad1c06;}
    p {margin-top: 1rem}
    i {margin-left: 6rem;}
    hr {border: none;}
</style>