<template>
    <article>
      <img v-if="article.img" class="background" :src="require('~/assets/' + article.img)" :alt="article.alt" />
      <iframe
        v-if="article.video"
        :src="article.video"
        class="video--wrapper"
        frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
      <section class="content--wrapper" v-else>
        <header>
          <div class="title--wrapper">
            <h1 class="title">{{ article.title }}</h1>
            <h2 class="subtitle" v-show="article.subtitle">{{ article.subtitle }}</h2>
            <h3 class="author">{{ article.author }}</h3>
            <h4 class="description" v-show="article.description">{{ article.description }}</h4>
          </div>
        </header>
        <main class="text--container">
          <nuxt-content :document="article" />
        </main>
      </section>
    </article>
</template>

<script>
  export default {
    async asyncData({ $content, params }) {
      const article = await $content('1', params.slug).fetch()
      const articles = await $content('1').sortBy('order').fetch()
      return { article, articles }
    },
    mounted() {
      this.$store.commit('updateMenu', this.articles)
    }
  }
</script>

<style scoped>
@font-face {
  font-family: 'Bebas Neue';
  src: url('~static/fonts/BebasNeue-Regular.eot'); /* IE9 Compat Modes */
  src: url('~static/fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~static/fonts/BebasNeue-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~static/fonts/BebasNeue-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('~static/fonts/BebasNeue-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

  .background {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .content--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
  }

  .title--wrapper {
    padding: 20px;
    min-width: 50vw;
    max-width: 100vw;
    background-color: rgba(0,0,0,.7);
    text-align: center;
  }
  .title { font-size: 2.2rem; }
  .subtitle {margin: 20px 0;}
  .title, .subtitle {
    font-family: 'Bebas Neue', Arial, sans-serif;
  }
  .author, .description {
    margin-top: 10px;
    font-family: 'Old Standard TT', serif;
  }

</style>