<template>
    <main class="page-content" aria-label="Content" :style="{ backgroundImage: `url(` + require('~/assets/1/frontpage.jpg') + `)`}">
        <section class="container">
            <div id="logo" class="lightyellow">
                <img :src="require('~/assets/logo-black.svg')" alt="AGRESTE" />
                <h2><small>vol. </small>1<small><br />{{ $store.state.editions[$store.state.editions.length - 1].year }}</small></h2>
            </div>

            <div id="lincoln" class="col-md-3 lincoln" :style="{ backgroundImage: `url(` + require('~/assets/1/frontpage/lincoln.jpg') + `)`}">
                <span id="back_1_2">
                    <NuxtLink to="/1/Entre-vista_com_as_coisas"><h1 class="white">Entre-vista com as coisas</h1></NuxtLink>
                    <h2>Lincoln Péricles</h2>
                </span>
            </div>

            <div id="fabio" class="gray2back">
                <NuxtLink to="/1/A_irreverencia_como_politica"><h1 class="white">A irreverência como política</h1></NuxtLink>
                <h2 class="black">Fábio Ramalho</h2>
            </div>

            <div id="josa" class="gray3back">
                <NuxtLink to="/1/Labirintos_da_Terra_Brazylis"><h1 class="white small">Labirintos da Terra Brazylis</h1></NuxtLink>
                <h2 class="lightred">Josafá Veloso</h2>
            </div>

            <div id="minha" class="row clearyellow2">
                <span class="col-md-12" style="text-align: right;">
                    <NuxtLink to="/1/Nao_voce_Como_voce"><h1 class="lightred" >Não você/Como você</h1></NuxtLink>
                    <h2 class="black">Trinh T. Minh-ha</h2>
                </span>
            </div>

            <div id="isabel" class="yellowback">
                <NuxtLink to="/1/A_dificil_relacao_entre_ver-ouvir">
                    <h1 class="lightred" >A difícil relação entre ver-ouvir</h1>
                </NuxtLink>
                <h2>Isabel Carneiro</h2>
            </div>

            <div id="yann" class="col-md-8 pacificacao" :style="{ backgroundImage: `url(` + require('~/assets/1/frontpage/yann.jpg') + `)`}">
                <span class="blueback">
                    <NuxtLink to="/1/Pacificacao">
                        <h1 class="white">p.a.c.i.f.i.c.a.ç.ã.o</h1>
                    </NuxtLink>
                    <h2>yann beauvais</h2>
                </span>
            </div>

            <div id="caio" class="gray3back">
                <NuxtLink to="/1/Cinemas_Indigenas"><h1 class="white small">Cinemas indígenas e trânsitos da representação</h1></NuxtLink>
                <h2 class="lightred">Caio Lazaneo</h2>
            </div>

            <div id="diogo" class="clearyellow2">
                <NuxtLink to="/1/Narrativa_classica_e_ideologia">
                    <h1 class="lightred small">Narrativa Clássica e Ideologia</h1>
                </NuxtLink>
                <h2 class="black">Diogo Noventa</h2>
            </div>


            <div id="ewa" class="row enquadrando" :style="{ backgroundImage: `url(` + require('~/assets/1/frontpage/ewa.jpg') + `)`}">
                <span class="ewa back">
                    <NuxtLink to="/1/Enquadrando_um_terrorista"><h1 class="small"> Enquadrando um terrorista</h1></NuxtLink>
                    <h2 class="ssmall">Ewa Mazierska</h2>
                </span>
            </div>


            <div id="leticia" class="gray4back">
                <NuxtLink to="/1/Concepcao_leonica"><h1 class="white">Concepção Leônica Rodrigal Colorífera</h1></NuxtLink>
                <h2 class="lightred">Letícia Simões</h2>
            </div>

            <div id="collazzi" class="blue2back">
                <NuxtLink to="/1/O_Cinema_Experimental"><h1 class="white"> O cinema experimental na era do capitalismo flexível</h1></NuxtLink>
                <h2>Andre Meirelles Collazzi</h2>
            </div>

            <!-- <div id="tupinamba" class="yellowback">
                    <NuxtLink to="/1/Primavera_Tupinamba"><h1 class="black">Primavera Tupinambá</h1></NuxtLink>
                    <h2 class="lightred">Povo Tupinambá</h2>
            </div> -->

            <div id="siva" class="gray3back">
                <NuxtLink to="/1/A_ascensao_do_criptoptico"><h1 class="white small">A Ascensão do Criptóptico</h1></NuxtLink>
                <h2 class="lightred">Siva Vaidhyanathan</h2>
            </div>

            <div id="sarah" class="blue2back viagem">
                <NuxtLink to="/1/Diario_de_uma_viagem_de_onibus_em_Israel"><h1 class="white">Diário pró-palestino sobre um festival israelense</h1></NuxtLink>
                <h2 class="ssmall">Sarah Gampel e Anna Padilla</h2>
            </div>

            <div id="grazi" class="yellowback">
                <NuxtLink to="/1/O_sentido_da_tela_preta"><h1 class="black">O sentido da tela preta em Orestes de Rodrigo Siqueira</h1></NuxtLink>
                <h2 class="lightred">Graziela Kunsch</h2>
            </div>

            <div id="sebastian" class="clearyellow2 estranhamento">
                <NuxtLink to="/1/Notas_por_uma_estetica_do_estranhamento"><h1 class="lightred">Notas por uma estética do estranhamento</h1></NuxtLink>
                <h2 class="black">SEBASTIAN WIEDEMANN</h2>
            </div>

            <div id="felipe" class="gray2back">
                <NuxtLink to="/1/Vicio_inerente"><h1 class="white small">Vicio Inerente</h1></NuxtLink>
                <h2 class="black">Felipe Moraes</h2>
            </div>

            <div id="crua" class="gray4back">
                <NuxtLink to="/1/CINEGRADA"><h1 class="white">Cinegrada</h1></NuxtLink>
                <h2 class="lightred">Crua</h2>
            </div>
        </section>
    </main>
</template>

<script>
    export default {

    }
</script>

<style scoped>
@font-face {
  font-family: 'Bebas Neue';
  src: url('~static/fonts/BebasNeue-Regular.eot'); /* IE9 Compat Modes */
  src: url('~static/fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~static/fonts/BebasNeue-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~static/fonts/BebasNeue-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('~static/fonts/BebasNeue-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.page-content {
    font-family: 'Bebas Neue', 'Arial Narrow Bold', sans-serif;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.container div {
    height: 100%;
}

a:hover {
   text-decoration: underline;
   text-decoration-color: #e7757c;
}

#back_1_2 {
    width: 100%;
    padding: 5px;
   background-color: rgba(199, 219, 232, 0.8);
}
#back_1_2 h1 {
    color: white;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding: 10% ;
}

.lightyellow {
    background-color: rgba(233, 218, 176, 0.8);
    padding: 80px 0px 80px 0px;
}

.lightwhite {background-color: rgba(233, 218, 176, 0.5);}

.blueback {
   background-color: rgba(199, 219, 232, 0.6);
   color: #e6737a;
}

.blue2back {
   background-color: rgba(153, 183, 175, 0.8);
   color: #fff;
}

.gray2back {
   background-color: rgba(161, 159, 147, 0.8);
   color: white;
   margin: 10px;
   padding: 5px;
}

.gray3back {
   background-color: rgba(101, 84, 88, 0.8);
   color: white;
   margin: 10px;
   padding: 5px;
}

.gray4back {
   background-color: rgba(77, 60, 66, 0.9);
   color: white;
   margin: 10px;
   padding: 5px;
}

.grayback {
   background-color: rgba(148, 148, 148, 0.8);
   color: white;
}

.blue2back h2 {
    color: black;
}

.black {
    color: black;
}

.white {
    color: white;
}


.enquadrando {
   color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.back {
   background-color: rgba(100, 139, 154, 0.6);
   height: 190px;
}

.enquadrando h1 {
    color: #000;
   width: 100%;
}

.enquadrando h2 {
   color: #e7757c;
}

.lightred {
   color: #e7757c;
}

.enquadrando a:link, a:hover, a:active, a:visited {
    color: white;
}

.yellowback {
   background-color: rgba(248, 245, 224, 0.8);
   padding: 5px;
}

.yellowback a:link,a:hover {
   color:  #e7757c;
}

.clearyellow {
   background-color: rgba(248,245,224, 0.8);
   padding: 5px 20px;
}

.clearyellow2 {
   background-color: rgba(251,250,249, 0.8);
   padding: 5px 20px;
}

.estranhamento {
    margin: 0px 15px;
    padding: 0px 7px;
}

.blue2back.viagem {
   	padding: 3px 10px;
}

.lincoln {
    display: flex;
    align-items: center;
   padding: 0 15px;
   background-position: center;
}

.pacificacao {
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
   text-align: right;
}

.pacificacao h1 {
   padding-top: 40px;
   color: #fff;
}

.pacificacao h2 {
   color: black;
}

.pacificacao .blueback {
   height: 100%;
   float: right;
   color: white;
   width: 100%;
   padding: 10px;
}

.ewa {
    height: 100%;
    width: 100%;
    padding: 30px;
}

#minha, .ewa {
    text-align: right;
}

@media (min-width: 992px) {
.page-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.container {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr repeat(6, 1fr) 0.5fr repeat(3, 1fr) 1.5fr 0.5fr;
    grid-template-rows: repeat(2, .5fr) repeat(4, 1fr) repeat(2, 0.5fr 1.5fr) .5fr 1fr .5fr;
    gap: 1% 1%;
    grid-template-areas:
        "Logo Logo Logo Logo Logo Lincoln Lincoln Lincoln . . . Josa Josa ."
        "Logo Logo Logo Logo Logo Lincoln Lincoln Lincoln . Fabio Fabio Josa Josa ."
        "Logo Logo Logo Logo Logo Lincoln Lincoln Lincoln . Fabio Fabio Josa Josa ."
        "Logo Logo Logo Logo Logo Lincoln Lincoln Lincoln . Fabio Fabio . . ."
        "Logo Logo Logo Logo Logo Lincoln Lincoln Lincoln . . MinHa MinHa MinHa MinHa"
        "Isabel yann yann yann ewa ewa ewa ewa siva siva MinHa MinHa MinHa MinHa"
        "Isabel yann yann yann ewa ewa ewa ewa siva siva sarah sarah sarah ."
        "Isabel yann yann yann ewa ewa ewa ewa siva siva sarah sarah sarah ."
        ". yann yann yann tupinamba tupinamba tupinamba . Gazi Gazi Gazi . Sebastian Sebastian"
        "caio caio diogo diogo leticia leticia collazzi collazzi Gazi Gazi Gazi . Sebastian Sebastian"
        "caio caio diogo diogo leticia leticia collazzi collazzi Felipe Felipe Felipe . Sebastian Sebastian"
        "caio caio diogo diogo leticia leticia collazzi collazzi Felipe Felipe Felipe Crua Crua ."
        ". . . . leticia leticia . . Felipe Felipe Felipe Crua Crua .";

    width: 80vw;
    height: 45vw;
  }

    #logo { grid-area: Logo; }
    #lincoln { grid-area: Lincoln; }
    #fabio { grid-area: Fabio; }
    #josa { grid-area: Josa; }
    #minha { grid-area: MinHa; }
    #isabel { grid-area: Isabel; }
    #yann { grid-area: yann; }
    #ewa { grid-area: ewa; }
    #siva { grid-area: siva; }
    #sarah { grid-area: sarah; }
    #caio { grid-area: caio; }
    #diogo { grid-area: diogo; }
    #leticia { grid-area: leticia; }
    #tupinamba { grid-area: tupinamba; }
    #collazzi { grid-area: collazzi; }
    #grazi { grid-area: Gazi; }
    #felipe { grid-area: Felipe; }
    #sebastian { grid-area: Sebastian; }
    #crua { grid-area: Crua; }
}
</style>