<template>
  <nav id="menu" class="site-navigation" role="navigation">
    <NuxtLink class="mainlogo" :to="'/' + editionNumber">
      <img
        class="svg logo"
        alt="Logotipo onde a palavra AGRESTE se desenha com linhas construídas por pedaços de fita-crepe"
        src="~/assets/logo.svg"
      >
    </NuxtLink><small>ISSN 2675-8504</small>

    <button class="toggleMenu logo" @click="toggleMenu = !toggleMenu">
      <img
        v-if="!toggleMenu"
        class="svg"
        alt="Botão de Menu"
        src="~/assets/menu.svg"
      >
      <img
        v-else
        class="svg"
        alt="Botão indicando fechamento de menu"
        src="~/assets/close.svg"
      >
    </button>
    <ul :class="{'art-menu': true, 'open': toggleMenu}" role="menubar">
      <NuxtLink :to="'/' + editionNumber + '/Editorial'"><li v-if="!isEditorial" role="menuitem" tabindex="0">Editorial</li></NuxtLink>
      <NuxtLink :to="'/' + editionNumber + '/Sobre'" role="menuitem" tabindex="0"><li v-if="!isAbout">Apresentação e Expediente</li></NuxtLink>
      <li class="hoverable" role="menuitem" tabindex="0">Edições
        <ul class="dropdown" role="menu">
          <NuxtLink
            v-for="(edition, key) in $store.state.editions"
            :key="key"
            :to="'/' + ($store.state.editions.length - key)"
            role="menuitem"
            tabindex="-1"
            >
              <li><small>vol. </small>{{ $store.state.editions.length - key }} / {{edition.year}} – {{edition.name}}</li>
          </NuxtLink>
        </ul>
      </li>
      <li v-show="isArticle" class="hoverable" role="menuitem" tabindex="0">
        Índice de artigos
        <ul class="dropdown menu" role="menu">
          <NuxtLink
            v-for="(article, key) in $store.state.currentMenu"
            :key="key"
            :to="article.path"
            role="menuitem"
            tabindex="-1"
            >
            <li v-if="article.order !== 0">{{article.title}}</li>
          </NuxtLink>
        </ul>
      </li>
      <searchBar />
    </ul>
  </nav>
</template>

<script>
import searchBar from './searchBar.vue'
  export default {
  components: { searchBar },
    props: ['articles'],
    data () {
      return {
        toggleMenu: false
      }
    },
    computed: {
      editionNumber() {
        return this.$route.name ? parseInt(this.$route.name.split('-')[0]) : this.$store.state.editions.length
      },
      isAbout() {
        return this.$route.fullPath.includes('Sobre')
      },
      isArticle() {
        return this.$route.name.includes('-')
      },
      isEditorial() {
        return this.$route.fullPath.includes('Editorial')
      }
    },
    watch:{
      $route (to, from){
          this.toggleMenu = false;
      }
    }
  }
</script>

<style scoped>
@font-face {
  font-family: 'Bebas Neue';
  src: url('~static/fonts/BebasNeue-Regular.eot'); /* IE9 Compat Modes */
  src: url('~static/fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~static/fonts/BebasNeue-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~static/fonts/BebasNeue-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('~static/fonts/BebasNeue-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.site-navigation {
  font-family: 'Bebas Neue', Arial, sans-serif;
  font-size: 1rem;
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  vertical-align: middle;
  z-index: 10;
}

.mainlogo {
  height: 100%;
  padding: 10px;
  float: left;
  color: #fff;
}
  .logo {
    padding-right: 10px;
  }

.art-menu {
  margin-left: auto;
  height: 100%;
  line-height: 50px;
  color: rgba(255,255,255);
  display: flex;
  }

.menu {
  text-align: right;
}

::v-deep ul {
  list-style: none;
  padding: 0;
}

::v-deep li {
  white-space: nowrap;
	color: #fff;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  transition-duration: 0.5s;
}

.art-menu a, .hoverable {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

::v-deep .dropdown {
	visibility: hidden;
  opacity: 0;
	position: absolute;
  transition: all 0.5s ease;
  margin-top: 0;
	right: 0;
  display: none;
  background-color: #000;
}
  .art-menu .hoverable:hover > .dropdown a li,
  .art-menu .hoverable:focus > .dropdown a li,
  .art-menu .hoverable:hover > .dropdown a:hover li,
  .art-menu .hoverable:focus > .dropdown a:hover li,
  .art-menu .hoverable:hover > .dropdown a:focus li,
  .art-menu .hoverable:focus > .dropdown a:focus li {
    display: block;
    clear: both;
    width: 100%;
    color: #fff
  }
  .art-menu a:hover li,
  .art-menu a:focus li,
  .hoverable:hover,
  .hoverable:focus,
  .art-menu .hoverable:hover > .dropdown a:hover li,
  .art-menu .hoverable:focus > .dropdown a:hover li,
  .art-menu .hoverable:hover > .dropdown a:focus li,
  .art-menu .hoverable:focus > .dropdown a:focus li {
    color: #d00d00;
    cursor: pointer;
    outline: none;
  }

.art-menu .hoverable:hover > ul,
.art-menu .hoverable:focus > ul {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

.toggleMenu {display: none;}

/* Smartphones (portrait and landscape) ----------- */
@media (min-width : 320px)
   and (max-width : 768px) {
  .toggleMenu {
    display: block;
    margin-left: auto;
    height: 100%;
    background: none;
    border: none;
  }
	.art-menu {
    position: absolute;
    height: auto;
    flex-direction: column;
    background-color: rgba(0,0,0,0.75);
    visibility: hidden;
    opacity: 0;
    max-height: calc(100vh - 50px);
    top: 50px;
    right: 0;
  }
    .open {
      visibility: visible;
      opacity: 1;
    }
  .art-menu a:hover { background-color: #000;}
  .dropdown {
    position: relative;
    background-color: transparent;
    max-height: 50vh;
    overflow-y: auto;
  }
  .menu {
    text-align: left;
  }
  label {
    width: 100%;
    margin-bottom: 15px;
  }
}

</style>