<template>
  <li
    class="searchGroup">
    <label class="searchArea">
      <button class="toggleSearch logo" @click="toggleSearch">
        <img
          class="svg"
          alt="Botão de Menu"
          src="~/assets/magnify.svg"
          />
      </button>
      <input
        v-model="searchQuery"
        type="search"
        :class="{'searchBox' : true, 'searchOpen': searchBox}"
        autocomplete="off"
        placeholder="Busca"
      />
    </label>
    <ul class="dropdown menu" v-if="articles.length">
      <NuxtLink v-for="article of articles" :key="article.path" :to="article.path">
        <li>
          {{ article.title }}
        </li>
      </NuxtLink>
    </ul>
  </li>
</template>

<script>
  export default {
    data() {
      return {
        searchBox: false,
        searchQuery: '',
        articles: []
      }
    },
    methods: {
      updateList (newList) {
        if(this.searchQuery !== '') {
          this.articles = newList
        }
      },
      toggleSearch () {
        this.searchBox = !this.searchBox
      }
    },
    watch: {
      async searchQuery(searchQuery) {
        if (!searchQuery) {
          this.articles = []
          return
        }
        let newList = []
        for (let index = this.$store.state.editions.length; index > 0; index--) {
          const element = await this.$content(''+index)
            .search(searchQuery)
            .sortBy('order')
            .fetch()
          newList = newList.concat(element)
        }
        this.updateList(newList)
      }
    }
  }
</script>

<style scoped>
  li, label {
    display: flex;
    align-items: center;
  }
  .toggleSearch {
    display: block;
    float: left;
    height: 100%;
    background: none;
    border: none;
  }
  .searchBox {
    width: 0;
    visibility: hidden;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 600;
    transition: all .3s ease-in-out;
  }
    .searchOpen {
      width: 100px;
      visibility: visible;
    }
  .searchGroup:focus-within .dropdown {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    top: 100%;
  }

  /* Smartphones (portrait and landscape) ----------- */
  @media (min-width : 320px)
   and (max-width : 768px) {
     li {
       flex-direction: column;
     }
     .searchBox, .searchOpen {
      width: 100%;
      visibility: visible;
     }
   }
</style>