<template>
  <main>
    <Menu />
    <Nuxt />
  </main>
</template>

<script>
  export default {

  }
</script>

<style>
@font-face {
  font-family: 'Open Sans';
  src: url('~static/fonts/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('~static/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~static/fonts/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~static/fonts/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('~static/fonts/OpenSans-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* Tag Defaults */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family:
    'Open Sans',
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: black;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.body {
  min-height: 100vh;
}

main {
  width:100%;
  height: 100%;
  overflow: hidden;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

p { text-indent: 2rem; margin-bottom: 1em;}

h1, h2, h3, h4 {
  display: block;
}
  h1 {font-size: 1.6rem;}
  h2 {font-size: 1.3rem;}
  h3 {font-size: 1rem;}
  h4 {font-size: .7rem;}

hr { margin: 10vh 0;}

span {display: inline-block;}

/* Nuxt Classes */

.text--container {
  margin-bottom: 100vh;
  background-color: #fff;
  padding: 30px;
  font-size: 1rem;
  line-height: 2;
  text-align: justify;
}

/* Global Classes */
.align--right {
  text-align: right;
}

.full--width {
  width: 100%;
}

.svg {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.background {
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


.content--wrapper, .video--wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  width: 100%;
  min-height: 100%;
}
  .content--wrapper {
    padding-bottom: 100vh;
  }
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper.vertical {
    width: 45vh;
    height: 80vh;
    max-width: 100%;
    padding-bottom: 0;
    margin: 0 auto;
  }
    .videoWrapper iframe {width: 100%; height: 100%;}

  .video-gallery,
  .gallery { padding-bottom: 0 }

.scope--ratio {
  position: relative;
  padding-top: 56.25%
}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 768px) {
  .text--container{
    margin: auto;
    padding: 50px;
    width: 90vw;
  }

  .left { margin-left: 5vw; }
  .right { margin-right: 5vw; }
}

/* Desktop (portrait) ----------- */
@media (min-width : 1024px) {
  .text--container{
    padding: 100px;
    width: 55vw;
  }
}
</style>
