<template>
  <div class="container">
      <div class="links">
        <img
          class="mainLogo"
          alt="Logotipo onde a palavra AGRESTE se desenha com linhas construídas por pedaços de fita-isolante"
          src="~/assets/logo.svg"
        />
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'redirect'
}
</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mainLogo {
  width: 50vw;
}
</style>
