<template>
    <div>
        <img class="full--width" :src="require('~/assets/' + src)" :alt="alt" />
    </div>
</template>

<script>
    export default {
        props: ['src', 'alt']
    }
</script>

<style scoped>
</style>