<template>
  <div>
    <section v-for="(section, key) in data.sections" :key="key">
      <h2 class="separator">{{section.tema}}</h2>
      <ul>
        <li v-for="(movie, key) in section.movies" :key="key">
          <h1>{{movie.title}}</h1>
          <h4>{{movie.local ? movie.local : ''}}{{movie.local && movie.year ? ', ' :  ''}}{{movie.year ? movie.year : ''}} <span v-if="movie.duration">({{movie.duration}})</span></h4>
          <h2 v-if="movie.mov">{{movie.mov}}</h2>
          <h3>{{movie.author ? movie.author : ''}}</h3>
          <h3 v-if="movie.link">Link: <a :href="movie.link">{{movie.link}}</a></h3>
          <h3 v-if="movie.links">Links: <a v-for="(link, key) in movie.links" :key="key" :href="link">{{link}} </a></h3>
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
  import json from "@/static/lista.json"

  export default {
    data () {
      return {
        data: json
      }
    }
  }
</script>

<style scoped>
  .separator {
    border-top: 3px solid #888;
    color: #888;
    margin-top: 50px;
  }
  ul {list-style: none; padding: 0;}
  li h1 {
    padding-top: 1em;
    border-top: 1px solid #888;
  }
    li:first-of-type h1 {
      border-top: 0px;
      padding-top: 0px;
    }
  li h4 {color: #888;}
  li a {color: #d00d00}
</style>