<template>
  <audio controls autoplay>
    <source :src="require('@/assets/' + src)" :type="type">
    Your browser does not support the audio element.
  </audio>
</template>

<script>
  export default {
    props: ['src', 'type']
  }
</script>

<style lang="scss" scoped>
  audio { width: 100%;}
</style>