<template>
    <sup class="footnote" :ref="'footnote'" aria-describedby="footnote">
        <div class="tooltip" role="tooltip" tabindex="0">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner"><vue-markdown>{{text}}</vue-markdown></div>
        </div>
        {{index}}
    </sup>
</template>

<script>
    export default {
        props: ['text', 'index'],
        data () {
          return {
            teste: this.text
          }
        }
    }
</script>

<style scoped>
sup {cursor: pointer;}

.tooltip {
    position: absolute;
    display: block;
    z-index: 10000;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .15s opacity ease-in-out;
    font-size: .8rem;
}
    sup:hover .tooltip,
    sup:focus .tooltip {
        visibility: visible;
        opacity: 100;
    }

.tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 10px 25px;
    text-indent: 0;
}

.tooltip-inner >>> a { color: #fff }

/* Smartphones (portrait) ----------- */
@media (min-width : 1024px) {
  sup {position: relative;}
  .tooltip {
    width: 30vw;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .tooltip-arrow {
    left: 50%;
    top: 100%;
    transform: translate3d(-50%, -50%, 0)rotate(45deg);
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    border-color: black;
    z-index: 1;
  }
}
</style>