<template>
    <article>
      <img v-if="article.img" class="background" :src="require('~/assets/' + article.img)" :alt="article.alt" />

      <iframe
        v-if="article.video"
        :src="article.video"
        class="video--wrapper"
        frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>

      <section class="audio" v-else-if="article.audio">
        <audio controls>
          <source :src="require('~/assets/' + article.audio)" type="audio/mpeg">
        </audio>
      </section>

      <section class="content--wrapper" v-else-if="article.list">
        <header>
          <h1 class="title">{{ article.title }}<vue-tooltip v-if="article.note" :text="article.note" index="1"></vue-tooltip></h1>
          <h2 class="subtitle" v-show="article.subtitle">{{ article.subtitle }}</h2>
          <div class="title--wrapper">
            <h2 class="author"><span class="box">{{ article.author }}</span></h2>
            <h3 class="description" v-show="article.description"><span class="box">{{ article.description }}</span></h3>
          </div>
        </header>
        <div class="text--container">
          <nuxt-content :document="article" />
          <json-list></json-list>
        </div>

      </section>

      <section class="content--wrapper" v-else>
        <header>
          <h1 class="title">{{ article.title }}<vue-tooltip v-if="article.note" :text="article.note" index="1"></vue-tooltip></h1>
          <h2 class="subtitle" v-show="article.subtitle">{{ article.subtitle }}</h2>
          <div class="title--wrapper">
            <h2 class="author"><span class="box">{{ article.author }}</span></h2>
            <h3 class="description" v-show="article.description"><span class="box">{{ article.description }}</span></h3>
          </div>
        </header>
        <div class="text--container">
          <nuxt-content :document="article" />
        </div>
      </section>
    </article>
</template>

<script>
  export default {
    async asyncData({ $content, params }) {
      const article = await $content('3', params.slug).fetch()
      const articles = await $content('3').sortBy('order').fetch()
      return { article, articles }
    },
    mounted() {
      this.$store.commit('updateMenu', this.articles)
    }
  }
</script>

<style scoped>
@font-face {
  font-family: 'Abril Fatface';
  src: url('~static/fonts/AbrilFatface-Regular.eot'); /* IE9 Compat Modes */
  src: url('~static/fonts/AbrilFatface-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~static/fonts/AbrilFatface-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~static/fonts/AbrilFatface-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('~static/fonts/AbrilFatface-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('~static/fonts/Roboto-Light.eot'); /* IE9 Compat Modes */
  src: url('~static/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~static/fonts/Roboto-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('~static/fonts/Roboto-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('~static/fonts/Roboto-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.background {
  object-fit: cover;
  object-position: 50% 0%;
}

::v-deep hr {
  border: none;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

article {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.title, .subtitle {
  background-color: #d00d00;
  font-family: 'Abril Fatface', 'Arial Bold', sans-serif;
  text-transform: uppercase;
  width: 100%;
}

.title--wrapper {
  background-color: #d00d00;
  position: absolute;
  bottom: 80px;
  left: 0px;
  max-width: 100vw;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.title--wrapper h2 {margin: 0; font-size: 1em; font-weight: 800;}

.title, .subtitle, .box {
  padding: 20px;
}
  .title, .subtitle {text-align: center;}
    .right .title, .right .subtitle {text-align: left;}
    .left .title, .left .subtitle, .left .author {text-align: right;}
  .subtitle {padding-top: 0;}
  .author, .description {
    margin-top: 10px;
  }

  .subtitle, .author, .description {
    font-family: 'Roboto', serif;
  }

  .text--container >>> h1 {
    margin-top: 30px;
  }

  .gallery img {
    max-width: 100vw;
  }

  .video-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .audio {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .audio audio {
    width: 80%
  }

  ::v-deep ul { margin-bottom: 1em;}

  ::v-deep .quote {
    padding-left: 10%;
    text-align: right;
    margin-bottom: 2em;
  }

  ::v-deep .playlist {
    width: 100%;
    height: 50vh;
  }
</style>