<template>
    <main class="page-content" aria-label="Content">
      <img class="background" :src="require('~/assets/3/Chora-Boy.jpg')" alt="Imagem de fundo mosrando uma cupação de moradia: a ocupação Mauá" />
      <header>
        <img class="svg" :src="require('~/assets/logo.svg')" alt="AGRESTE" />
        <h3><small>vol. </small>3<small><br />{{ $store.state.editions[$store.state.editions.length - 2].year }}</small></h3>
      </header>
      <div class="container">
        <section v-for="article in articles" :key="article.path">
          <a
            v-if="article.link"
            :href="article.link"
            target="_blanc">
            <h1>{{article.title}}</h1>
            <h2>{{article.author}}</h2>
          </a>
          <NuxtLink
            v-else
            :to="article.path">
            <h1>{{article.title}}</h1>
            <h2>{{article.author}}</h2>
          </NuxtLink>
        </section>
      </div>
    </main>
</template>

<script>
    export default {
      async asyncData({ $content, params }) {
        const articles = await $content('3', params.slug).sortBy('order').fetch()

        return { articles }
      }
    }
</script>

<style scoped>
@font-face {
  font-family: 'Abril Fatface';
  src: url('~static/fonts/AbrilFatface-Regular.eot'); /* IE9 Compat Modes */
  src: url('~static/fonts/AbrilFatface-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~static/fonts/AbrilFatface-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~static/fonts/AbrilFatface-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('~static/fonts/AbrilFatface-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('~static/fonts/Roboto-Light.eot'); /* IE9 Compat Modes */
  src: url('~static/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~static/fonts/Roboto-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('~static/fonts/Roboto-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('~static/fonts/Roboto-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

main {
  color: #fff
}

header {
  position: absolute;
  top: 100px;
  left: 50px;
  display: flex;
  font-size: 1.3em;
  max-width: 60vw;
}

h1 {width: 130vw}

h1, h3 {
  font-size: 1.5rem;
  font-family: 'Abril Fatface', 'Arial Bold', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  margin-top: 25px;
}

h1, h2 {
  line-height: 1.5em;
  color: #ffb515;
  background: #cd3e73;
  float: left;
  clear: both;
  padding: 5px 15px 5px 20vw;
  box-decoration-break: clone;
  max-width: 100%;
}

h2 {
  font-size: 1rem;
  font-family: 'Roboto', serif;
  font-weight: 300;
  margin: -1px auto;
  padding-top: 0;

}

h3 {
  color: #fff;
  white-space: nowrap;
}

/*  SECTIONS  */

.page-content {
  display: flex;
  flex-direction: column;
}

.container {
  position: absolute;
  display: grid;
  flex-direction: column;
  margin: 300px 0;
}

section {
    margin-bottom: 1%;
    width: 100%;
    overflow: hidden;
    padding-right: 0;
    transform: rotate(-25deg)translateX(-100px)
}

section a:hover{
  text-decoration: none;
}

section a:hover h1, section a:hover h2 {
  background-color: #a91f53;
}

@media (min-width: 1079px) {
  .container {
    margin: 300px 0 40px 0;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  section {
    transform: rotate(-25deg)translateX(-110px);
  }
    h1 {width: 100%;}
    h1, h2 {
      padding: 5px 100px 5px 150px;
    }
  section:nth-child(even) {
    transform: rotate(-25deg)translateX(80px);
    text-align: right;
  }
  section:nth-child(even) h1, section:nth-child(even) h2 {
    padding: 5px 150px 5px 100px;
    float: right;
  }
}
</style>